<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test file</title>
    <link rel="stylesheet" type="text/css" href="styles.css" media="screen"/>
</head>
<body>
    <h1>Test file with 3 candidates</h1>
    
        <a id="item-1" class="item small" href="">
            <h2>1</h2>
        </a>

        <a id="item-2"  class="item small" href="">
            <h2>2</h2>
        </a>

        <a id="item-3" class="item wide" href="">
            <h2>3</h2>
        </a>
    <script type="module" src="../handleKeyDown.js"></script>
</body>
</html>