<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test file</title>
    <link rel="stylesheet" type="text/css" href="styles.css" media="screen"/>
</head>
<body>
    <h1>Test file with 2 sections in vertical layout with 4 candidates with no ids</h1>
    <section>
        <a class="first-item item" href="">
            <h2>1</h2>
        </a>

        <a class="item" href="">
            <h2>2</h2>
        </a>
    </section>

    <section>
        <a class="item" href="">
            <h2>3</h2>
        </a>

        <a class="item" href="">
            <h2>4</h2>
        </a>
    </section>
    <script type="module" src="../handleKeyDown.js"></script>
</body>
</html>