
<h1>Test file with 2 blocked exit sections in horizontal layout with 6 candidates</h1>
<section style="width: 548px" data-block-exit="up">
    <section>
        <section class="panel" data-block-exit="down">
            <a id="item-1" class="item" href="">
                <h2>1</h2>
            </a>

            <a id="item-2"  class="item" href="">
                <h2>2</h2>
            </a>
        </section>
    </section>

    <a class="item" href="" style="position: absolute; left: 300px;"></a>


    <section class="panel vert-offset">
        <section>
            <a id="item-5" class="item" href="">
                <h2>5</h2>
            </a>

            <a id="item-6"  class="item" href="">
                <h2>6</h2>
            </a>
        </section>
    </section>
</section>

<section class="panel" data-block-exit="up" style="position: absolute; left: 600px; top: 280px">
    <a id="item-3" class="item" href="">
        <h2>3</h2>
    </a>

    <a id="item-4"  class="item" href="">
        <h2>4</h2>
    </a>
</section>