
<h1>Test file with 2 blocked exit sections in horizontal layout with 6 candidates</h1>
<div class="lrud-container  panel" data-block-exit="down">
    <a id="item-1" class="item" href="">
        <h2>1</h2>
    </a>

    <a id="item-2"  class="item" href="">
        <h2>2</h2>
    </a>
</div>

<div class="lrud-container panel vert-offset" data-block-exit="up">
    <a id="item-3" class="item" href="">
        <h2>3</h2>
    </a>

    <a id="item-4"  class="item" href="">
        <h2>4</h2>
    </a>
</div>

<div class="lrud-container panel">
    <a id="item-5" class="item" href="">
        <h2>5</h2>
    </a>

    <a id="item-6"  class="item" href="">
        <h2>6</h2>
    </a>
</div>
