<section>
    <a id="item-1" class="item" href="">
        <h2>1</h2>
    </a>

    <a id="item-2"  class="item" href="">
        <h2>2</h2>
    </a>

    <a id="item-3"  class="item" href="">
        <h2>3</h2>
    </a>

    <a id="item-4"  class="item" href="">
        <h2>4</h2>
    </a>
</section>

<section style="width: 980px">
    <a id="item-5" class="item" href="">
        <h2>5</h2>
    </a>
</section>

<section>
  <a id="item-6" class="item" href="">
      <h2>6</h2>
  </a>

  <a id="item-7"  class="item" href="">
      <h2>7</h2>
  </a>

  <a id="item-8"  class="item" href="">
      <h2>8</h2>
  </a>

  <a id="item-9"  class="item" href="">
      <h2>9</h2>
  </a>
</section>