<h1>Test file with disabled, and aria-disabled elements</h1>

<section>
  <a id="item-1" class="item" href="">
      <h2>1</h2>
  </a>
  
  <a id="item-2" disabled class="item" href="">
      <h2>2</h2>
  </a>
  
  <a id="item-3" class="item" href="">
      <h2>3</h2>
  </a>
  
  <a id="item-4" class="item" href="">
      <h2>4</h2>
  </a>
</section>

<section>
  <a id="item-5" class="item" href="">
      <h2>5</h2>
  </a>
  
  <a id="item-6" aria-disabled="true" class="item" href="">
      <h2>6</h2>
  </a>
  
  <a id="item-7" class="item" href="">
      <h2>7</h2>
  </a>
</section>