<h1>Wide items with far away edges</h1>
<style>
  #item-2, #item-3 {
    margin-left: 0px;
    margin-right: 0px;
  }
</style>
<div style="width: 1300px">
  <a id="item-1" class="item" style="margin: 0px 470px;" href="">
      <h2>1</h2>
  </a>

  <a id="item-2"  class="item small" style="float: left; width: 460px; height: 10px" href="">
      <h2>2</h2>
  </a>

  <a id="item-3"  class="item small" style="width: 500px; height: 10px" href="">
      <h2>3</h2>
  </a>

  <a id="item-4" class="item" style="margin: 0px 470px;" href="">
      <h2>4</h2>
  </a>
</div>